// COLORS
$color-primary: rgb(219, 101, 101);
$color-secondary: rgb(171, 241, 171);
$color-tertiary: rgb(125, 175, 246);

$color-black: black;
$color-white: white;

$color-off-white: rgb(255, 254, 243);

$color-light-grey: lightgrey;
$color-light-grey-2: rgb(168, 168, 168);
$color-light-grey-3: rgb(117, 117, 117);

$color-dark-grey: rgb(57, 57, 57);
